#file-upload{
    width: 100%;
    background-color: transparent;
    border: 1px dotted #999999;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 15px; 
    padding: 20px;
    display:flex ;
    justify-content: center;
}